.git
.codex
.cursor
.idea
.nova
.phpunit.cache
.vscode
.zed
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
.phpunit.result.cache
bootstrap/cache/*.php
Dockerfile
README.md
tests
